<div id="friendslist">
    <div id="friends">
        <div class="header">
            Your chat list
        </div>
        <div *ngIf="userChats.length == 0">No user chats exists</div>

        <div *ngFor="let i of userChats" class="friend">
            <p>
                {{i.chatName}}
            </p>
            <a href="javascripts:void(0)" style="position: absolute; top: 0; right: 0;"> Delete chat</a>
        </div>
        <div id="search">
            <input type="text" id="searchfield" placeholder="Search contacts..." />
            <a href="javascripts:void(0)" style="position: absolute; top: 0; right: 0;" (click)="addChat()"> Create chat</a>
        </div>
    </div>
</div>