<div id="chatview" class="p1">
  <div id="chat-header">
    <a href="javascript:void(0)" style="color: white;">Back to list</a>
    <p style="margin-left: 10px;">Chat name</p>
  </div>
  <div id="chat-messages">
    <div *ngFor="let message of messages" class="message">
      <p>{{message.message}}</p>
      <p>({{message.name}})</p>
    </div>

    <div id="sendmessage">
      <input #textVal type="text" placeholder="Send message..." />
      <button id="send" (click)="sendMessageBtnClick(textVal)">Send Message</button>
    </div>

  </div>