@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShowInfoModel


<div>
    <h2>Public key</h2>
    @Model.PublicKey
</div>
<div>
    <h2>Private key</h2>
    @Model.PrivateKey
</div>

<form method="get" action="UpdateKey">
    <button class="btn btn-success mt-4" type="submit">Request to refresh keys</button>
</form>
<br/>
@Html.ActionLink("Back to login", "Login", "RSA")
